html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--light-bg);
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.login-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffca39;
  overflow-y: scroll;
}

body.dark .login-page {
  background-color: var(--dark-bg);
}

.login-card {
  width: 420px;
  padding: 48px 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
}

body.dark .login-card {
  background-color: #333;
}

.login-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 32px;
  color: var(--main-color);
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--light-text);
}

body.dark .form-group label {
  color: var(--dark-text);
}

.form-group input {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border 0.2s ease;
}

.form-group input:focus {
  border-color: var(--main-color);
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 38px;
  padding-right: 38px;
}

.icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
}

.password-toggle-btn {
  all: unset;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  line-height: 0;
  z-index: 2;
}

.password-toggle-btn:hover {
  background-color: transparent;
  border: none;
  color: #888;
}

.submit-button {
  color: #ffca39;
  width: 50%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

button.submit-button {
  background-color: #ffca39;
  color: white;
}

button.submit-button:hover {
  background-color: #ff9800 !important;
  color: white !important;
}

.form-footer {
  margin: 20px 0;
  font-size: 14px;
  color: #555;
}

/* ダークモード用 */
body.dark .form-footer {
  color: #eee;
}
@media (min-width: 481px) and (max-width: 1024px) {
  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .login-page {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
