.task-card {
  width: 100%;
  max-width: 340px;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  position: relative;
}

.task-card .task-edit-button,
.task-card .task-delete-button {
  position: absolute;
  background-color: #ffca39;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.task-card .task-edit-button {
  right: 60px;
}

.task-card .task-delete-button {
  right: 12px;
}
.task-card .task-edit-button:hover,
.task-card .task-delete-button:hover {
  background-color: #ff9800;
}

.task-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  color: #ff9800;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.task-memo {
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  margin-bottom: 8px;
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  color: #666;
}

.task-datetime {
  font-size: 14px;
  color: #6de996;
  margin: 0;
}

.task-columns {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.mypage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.dark .task-card {
  background-color: #333;
  color: #fff;
}

body.dark .task-title {
  color: #ffca39;
  border-bottom: 1px solid #555;
}

body.dark .task-memo {
  color: #ccc;
  border-bottom: 1px solid #555;
}

body.dark .task-datetime {
  color: #6de996;
}

body.dark .common-icon-button {
  background-color: #555;
  color: #fff;
}

body.dark .common-icon-button:hover {
  background-color: #777;
}

.task-card.done {
  background-color: #e7e7e7;
  padding: 16px 24px;
  margin: 0 auto 20px auto;
  border-radius: 12px;
  box-sizing: border-box;
}

/* ダークモード */
body.dark .task-card.done {
  background-color: #555;
  padding: 16px 24px;
  margin: 0 auto 20px auto;
  border-radius: 12px;
  box-sizing: border-box;
}
